:root{
  --white: aliceblue;
}

body{
  background-image: url('/image/beautiful-night-life.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size:100%; */
  font-family: Roboto, Arial, sans-serif;

}
:where(.navbar){
  display: flex;
}
.navbar{
  justify-content: flex-end;
}
.bar-icon, .ikonakun, .gmail, .gambar{
  margin: 0 0 0 1.5rem;
}
.bar-icon, .ikonakun{
  border-radius: 50%;
  width:32px;
  height:32px;
}
.bar-icon{
  background-color: azure;
}
.gmail, .gambar{
  margin-top: 8px;
  font-size: small;
}
.gmail{
  color: var(--white);
}
.gambar{
  color: var(--white);
  margin-right: 2rem;
}

/* footer */

.leftbottom{
  height: 38vh; 
  display: flex;
  align-items: flex-end;
  /* background-color: black; */
  
}
.rantai{
  color: var(--white);
  font-size:smaller;
  border-radius: 8px;
  background-color: black;
  width: 10rem;
  /* height: 0.2rem; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0.5rem;
  
}
.author{
  margin-left: 5px;
  color: var(--white);
}
.bgpencil{
  
  margin-left: 1%;
}
.bgpencil2{
  display: flex;
  justify-content: flex-end;
  width: 82rem;
}
.pensil{
  display: flex;
  color: var(--white);
  width: 2%;
  background-color: black;
  padding: 0.3%;
  padding-right: 0rem;
  padding-left: 0.5rem;
  border-radius: 18px;
}

/* kontent utama */

/* .contentutama{
  display: flex;
  background-color: black;
  
} */
.title{
  color: var(--white);
  display: flex;
  justify-content: center;
  height: 15vh ;
  margin-top: 40px;

  background-color: black;
  /* height:30vh; */
  align-items:flex-start;
  font-size: 5rem ;
}
.searchbar{
  margin-top: 4%;
  color: var(--white);
  display: flex;
  background-color: black;
  /* align-items: center; */
  justify-content: center;
  /* margin-right: ; */
}